*{
  font-family: 微軟正黑體,Arial;
  position: relative;
  border: solid 1px black;
}

body{
  margin: 0px;
  padding: 0px;
}

#container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 960px;
  border: solid 1px white;
  text-align: center;
}

.item_tog{
  list-style: none;
  text-align: left;
}

.title_tog{
  padding: 10px;
}


.content_tog {
  height: 0px;
  overflow: hidden;
  padding: 0px 10px;
  transition: 0.3s;
}

.content_tog_open{
  height: auto;
  padding: 10px;
}


.btn_tog_d{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  padding: 10px;
  transition: 0.3s;
  background-color: #46CAB3;
}

.btn_tog_u{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  padding: 10px;
  transition: 0.3s;
  background-color: #ff4949;
}





