extends ../layout/app

block vars

block pages-css
  link(rel='stylesheet', href='assets/css/index.css')


block content
  main
    h1 Sinyi-Creative Develop

    // == MAIN =====
    article#main
      section
        .bg-circles
        .circle-block
          .bg-lines
          .fluid
          img.circle-logo(src='assets/img/logo-siniy.png')
        .explore
          img.arrow-down(src='assets/img/arrow-down.svg')
          p MORE

    // == ABOUT =====
    article#about
      section.main-wrap
        .bg-cat
        .intro
          h2 Hello,I am Sinyi
          p I was a product and project manager in online website, EC, O2O service,mobile App, RTLS solution. Have interest in web technologies, user experience and product planning.
          p Seeking a career as
            span.highlight Front-end Developer
            | .
          .hand.hand-l
          .hand.hand-r

    // == SKILLS =====
    article#skills.skills
      section.main-wrap
        h3 Skills
        ul
          li.skill-content
            figure
              img(src='assets/img/icon-html.svg')
            figcaption
              h4 HTML
              p Pug/ Semantic Elements
          li.skill-content
            figure
              img(src='assets/img/icon-css.svg')
            figcaption
              h4 CSS
              p Sass (Pre-processors) /
              p Bootstrap/
              p Media Query (RWD)/ Hack
          li.skill-content
            figure
              img(src='assets/img/icon-js.svg')
            figcaption
              h4 Javascript
              p JQuery/ VueJS/ AJAX
          li.skill-content
            figure
              img(src='assets/img/icon-git.svg')
            figcaption
              h4 Git
              p version control/ Branch Manage
          li.skill-content
            figure
              img(src='assets/img/icon-design.svg')
            figcaption
              h4 Design
              p CI/UI/UX design
              p Software: Adobe Photoshop/ Adobe Illustrator
          li.skill-content
            figure
              img(src='assets/img/icon-plan.svg')
            figcaption
              h4 Project manage/ Plan
              p Product development/ Project management/ Software planning
              p Sofeware: Microsoft Office/ Axture RP/ Google Analytics
    // == WORKS =====
    article#works
      section.main-wrap
        h3  Work Collection
        ul
          li.work-content
            figure
              img(src='assets/img/sinyi.png')
            figcaption
              .title
                h4 悠遊卡記名網站改版
                .data 2019
              p 網站改版，負責網頁全站切版，使用JQuery與Bootsratp，表單使用Javascript驗證。
          li.work-content
            figure
              img(src='assets/img/kv.jpg')
            figcaption
              .title
                h4 悠遊卡記名網站改版
                .data 2019
              p 網站改版，負責網頁全站切版，使用JQuery與Bootsratp，表單使用Javascript驗證。
          li.work-content
            figure
              img(src='assets/img/sinyi.png')
            figcaption
              .title
                h4 悠遊卡記名網站改版
                .data 2019
              p 網站改版，負責網頁全站切版，使用JQuery與Bootsratp，表單使用Javascript驗證。
          li.work-content
            figure
              img(src='assets/img/相對與絕對定位說明.jpg')
            figcaption
              .title
                h4 悠遊卡記名網站改版
                .data 2019
              p 網站改版，負責網頁全站切版，使用JQuery與Bootsratp，表單使用Javascript驗證。
          li.work-content
            figure
              img(src='assets/img/01.jpg')
            figcaption
              .title
                h4 悠遊卡記名網站改版
                .data 2019
              p 網站改版，負責網頁全站切版，使用JQuery與Bootsratp，表單使用Javascript驗證。
          li.work-content
            figure
              img(src='assets/img/02.jpg')
            figcaption
              .title
                h4 悠遊卡記名網站改版
                .data 2019
              p 網站改版，負責網頁全站切版，使用JQuery與Bootsratp，表單使用Javascript驗證。
          li.work-content
            figure
              img(src='assets/img/sinyi.png')
            figcaption
              .title
                h4 悠遊卡記名網站改版
                .data 2019
              p 網站改版，負責網頁全站切版，使用JQuery與Bootsratp，表單使用Javascript驗證。


block pages-js
  //script(src='assets/js/portfolio.js')
