extends ../layout/app

block vars

block pages-css
    link(rel='stylesheet', href='assets/cms/css/flow.css')


block content
    h1 申請記名-普通卡-資料確認
    main
        // == title =====
        article.title-bg.title-bg-blue
            section
                h2 申請記名

        // == step =====
        article.main-wrap-large
            .down.down-4item.down-4
                img(src='assets/cms/images/top.png')

            // -- step - sm/md breakpoint ----
            section.white-content-step-title.white-content-step-title-4.align-items-center.d-none.d-sm-block
                .step-line.step-line-4item
                .step-line.step-line-4item.step-line-done-blue.step-line-done-4item-4.step-line-done-blue
                ul.d-flex
                    li.step-item.justify-content-center
                        .step-icon
                            img(src='assets/cms/images/progress-card-yoyo.svg')
                        .circle.circle-done-blue
                        p.step-title 輸入卡號
                    li.step-item.justify-content-center
                        .step-icon
                            img(src='assets/cms/images/progress-form-blue.svg')
                        .circle.circle-done-blue
                        p.step-title 填寫資料
                    li.step-item.justify-content-center
                        .step-icon
                            img(src='assets/cms/images/progress-user-blue.svg')
                        .circle.circle-done-blue
                        p.step-title 身分驗證
                    li.step-item.justify-content-center
                        .step-icon
                            img(src='assets/cms/images/progress-verify-blue.svg')
                        .circle.circle-blue
                        p.step-title 資料確認

            // -- step - xs breakpoint ----
            section.white-content-step-title.white-content-step-title-4.align-items-center.d-sm-none
                .step-line.step-line-4item
                .step-line.step-line-4item.step-line-done-blue.step-line-done-4item-4
                .d-flex.justify-content-between
                    .circle.circle-done-blue
                    .circle.circle-done-blue
                    .circle.circle-done-blue
                    .circle.circle-blue
                .step-title.d-flex.justify-content-center.align-items-center
                    img.d-block.d-sm-none(src='assets/cms/images/progress-verify-blue.svg')
                    .step-title-current 資料確認



        // == content =====
        article.main-wrap-large-xsfill
            section.white-content-step-content
                .block.info-content.margin-bottom-24
                    h4 送出申請前，請確認以下資料是否正確？
                    p.blue 申請卡號：1482950237（普通卡）
                .gray-block.gray-block-w552.info-list.info-list-large
                    ul
                        li
                            label 姓名：
                            p 王又云
                        li
                            label 原住民姓名羅馬拼音：
                            p Kolas Yotaka
                        li
                            label 國籍：
                            p 台灣
                        li
                            label 出生年月日：
                            p 民國50年1月1號
                        li
                            label 身分證號 / 統一編號：
                            p A2234567889
                        li
                            label 發證日期：
                            p 民國94年7月1號
                        li
                            label 發證地點：
                            p 北市
                        li
                            label 領補換類別：
                            p 初領
                        li
                            label 手機號碼：
                            p 0953330331
                        li
                            label 通訊地址：
                            p 台北市士林區天玉街38巷18弄1號
                        li
                            label 電子信箱：
                            p helloworld@gmail.com
                .center-block
                    button.btn.btn-solid.btn-blue.btn-comfirm.no-margin-bottom
                        | 確認送出


        // == action =====
        article.main-wrap-large
            section.action-content.d-block.d-sm-flex.flex-row-reverse.justify-content-center
                a(href='#')
                    button.btn.btn-outline.btn-default.margin-bottom-16.no-margin-bottom-sm
                        | 修改申請資料
                a(href='#')
                    button.btn.btn-outline.btn-default.margin-right
                        | 取消申請

block pages-js